.nav-pills li a:hover{
    background-color: rgb(77, 76, 76);
}

.nav-pills li a:active{
    background-color: brown;
    color: black;
}

span.active-color:active{
    background-color: red!important;
    color: black !important;
    border-radius: 0px !important;
}